@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
}

#qr-reader {
  border: 0 !important;
}
#qr-reader__scan_region img {
  display: none;
}
#qr-reader video {
  max-width: 70%;
  margin: 0 auto;
}
#html5-qrcode-anchor-scan-type-change {
  display: none !important;
}

#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop {
  border: rgb(190 24 93) 0.2rem solid;
  border-radius: 0.25rem;
  padding: 0.35rem;
}
#html5-qrcode-button-camera-start:hover,
#html5-qrcode-button-camera-stop:hover {
  background-color: rgb(190 24 93);
}
#html5-qrcode-select-camera {
  padding: 0.35rem;
  border-radius: 0.25rem;
}

/* pulse animation */

.pulse {
  box-shadow: 0 0 0 rgba(13, 148, 136, 1);
  animation: pulse 1s 1 ease;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(13, 148, 136, 1);
  }
  40% {
    -webkit-box-shadow: 0 0 0 150px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(13, 148, 136, 1);
    box-shadow: 0 0 0 0 rgba(13, 148, 136, 1);
  }
  40% {
    -moz-box-shadow: 0 0 0 150px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 150px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
